.CitiesWeatherList {
  flex-direction: column;
  width: 100%;

  display: grid; /* grid containers */
  // grid-gap: 10px;
  grid-template-columns: 5fr 1fr 1fr 1fr 2fr 2fr; /* six columns */
  grid-auto-flow: row; /* in column direction */

  ._header {
    display: contents; /* the child elements would be grid items */
  }

  ._row {
    display: contents; /* the child elements would be grid items */
  }

  ._row_header {
    ._cell {
      padding: 1rem 0.5rem;
      align-items: center;
      justify-content: center;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      white-space: pre-wrap;
    }

    /* Another option for compatibility */
    .compatibility-long-words {
      white-space: pre-wrap;
    }

    ._header_display_name {
      border: 1px solid;
      border-top: 1px solid;
      border-right: 1px solid;
      border-color: lightgrey;
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
    ._header_temperature {
      border-top: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
    ._header_temperatureUnit {
      border-top: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
    ._header_temperatureTrend {
      border-top: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
    ._header_windSpeed {
      border-top: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
    ._header_windDirection {
      border-top: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
  }

  ._row_weather {
    ._cell {
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: lightgrey;
      padding: 0.5rem;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      white-space: pre-wrap;
    }

    ._display_name {
      border-left: 1px solid;
      border-color: lightgrey;
    }

    ._temperature {
    }

    ._temperatureUnit {
    }

    ._temperatureTrend {
    }

    ._windSpeed {
    }

    ._windDirection {
    }
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
    ._row_header {
      ._cell {
        font-size: smaller;
      }
    }
    ._row_weather {
      ._cell {
        font-size: smaller;
      }
    }
  }
}
