.CitiesWeatherList {
  flex-direction: column;
  width: 100%;
  display: table;

  ._header {
    display: table-row;
  }

  ._row {
    display: table-row;
  }

  ._cell {
    display: table-cell;
    padding: 0 1rem 0 0;
  }

  ._row_weather {
    ._display_name {
    }

    ._temperature {
    }

    ._temperatureUnit {
    }

    ._temperatureTrend {
    }

    ._windSpeed {
    }

    ._windDirection {
    }
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}
