.CitiesWeatherList {
  flex-direction: column;
  width: 100%;
  padding: 0 4rem;

  display: grid; /* grid containers */
  // grid-gap: 10px;
  grid-template-columns: 5fr 1fr 1fr 1fr 2fr 2fr; /* four columns */
  // grid-template-rows: repeat(4, 1fr); /* four rows */
  grid-auto-flow: row; /* in column direction */

  ._header {
    // display: table-row;
    display: contents; /* the child elements would be grid items */
  }

  ._row {
    // display: table-row;
    display: contents; /* the child elements would be grid items */
  }

  ._row_header {
    ._cell {
      border: 1px solid;
      border-left: 1px solid;
      border-color: lightgrey;
      padding: 5px;
    }

    ._header_display_name {
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
    ._header_temperature {
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
    ._header_temperatureUnit {
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
    ._header_temperatureTrend {
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
    ._header_windSpeed {
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
    ._header_windDirection {
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: lightgrey;
    }
  }

  ._row_weather {
    ._cell {
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: lightgrey;
      padding: 5px;
    }

    ._display_name {
      border-left: 1px solid;
      border-color: lightgrey;
    }

    ._temperature {
    }

    ._temperatureUnit {
    }

    ._temperatureTrend {
    }

    ._windSpeed {
    }

    ._windDirection {
    }
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}
