.WeatherScreen {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 4rem 2rem 4rem;
  flex-direction: column;

  ._inputGroupWrapper {
    display: flex;
    flex-direction: column;
    width: 67%;
    padding-bottom: 3rem;

    ._inputAndButton {
      display: flex;
      flex-direction: row;
      width: -webkit-fill-available;
      width: -moz-available;
    }
    ._instruction {
      font-size: small;
      width: -webkit-fill-available;
      padding: 0.25rem 0.5rem;
    }
  }

  ._citiesWeatherListWrapper {
    display: flex;
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
    padding: 3rem 1rem 2rem 1rem;

    ._inputGroupWrapper {
      width: 100%;
    }
  }
}
